.navbar {
  background-color: darken(#10063E, 10%);

  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #00FF00;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }

    &:hover {
      color: darken(#FFF, 10%);
    }
  }
}

#navbar-primary .navbar-nav {
  //  background: #ededed;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    float: none;
    a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
