<!--<div class="row">-->
  <!--<div class="text-lg-center">-->
    <!--<h1>Weather for: <input type="text" placeholder="Enter City" (input)="onSearch(input.value)" required #input></h1>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="text-lg-center">
    <a class="btn btn-lg btn-primary" [routerLink]="['/weatherForecast']">BACK</a>
  </div>
</div>

<div *ngFor="let item of forecast.getForecastData()">
  <div class="row weather-date">
    <h1>{{ item.date }}</h1>
  </div>
  <div *ngFor="let temps of item.getTemperatures()">
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 offset-lg-3 offset-md-2 offset-sm-2">
        {{ temps.time }}
      </div>
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-2">
        <span class="tag tag-primary">{{ temps.tempLow }}<i class="wi wi-celsius" style="font-size: 20px;"></i></span>
        <span class="tag tag-warning">{{ temps.tempHigh }}<i class="wi wi-celsius" style="font-size: 20px;"></i></span>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
        <i class="wi {{ temps.icon }}" style="font-size: 40px; color: purple;"></i>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-5">
        {{ temps.description }}
      </div>
    </div>
    <hr>
  </div>
</div>
