<div class="row">
  <div class="text-lg-center">
    <!--<h1>Weather for: <input class="input" type="text" placeholder="Enter City" (input)="onSearch(input.value)" required #input></h1>-->
    <div class="input-group">
      <span class="input-group-addon">Weather for:</span>
      <input type="text" class="form-control" placeholder="Enter City" (input)="onSearch(input.value)" required #input>
    </div>
  </div>
</div>

<div class="weather-main" *ngIf="weather && weather.city !== ''" style="background-image: url('https://s-media-cache-ak0.pinimg.com/originals/bb/8f/00/bb8f00b703d0b48b45aba082c9e9b67a.jpg');">
  <div class="weather-left">
  </div>
  <div class="weather-mid">
    <div class="city">
      {{ weather.city }}
    </div>
    <div class="date">
      {{ weather.date }}
    </div>
  </div>
  <div class="weather-right">
    <div class="temperature">
      {{ weather.temperature }}
      <i class="wi wi-celsius"></i>
    </div>
    <div class="icon">
      <i class="wi {{ weather.icon }}"></i>
    </div>
    <div class="description">
      {{ weather.description }}
    </div>
    <div class="details">
      <a [routerLink]="['/weatherForecast/details', weather.city]">more Details</a>
    </div>
  </div>
</div>
