<div class="row">
  <div class="text-lg-center">
    <!--<h1>Weather for: <input class="input" type="text" placeholder="Enter City" (input)="onSearch(input.value)" required #input></h1>-->
    <div class="input-group">
      <span class="input-group-addon">Weather for:</span>
      <input type="text" class="form-control" placeholder="Enter City" (input)="onSearch(input.value)" required #input>
    </div>
  </div>
</div>

<div class="test-container" *ngIf="weather && weather.city !== ''">
  <div id="weatherCard" class="weatherBox">
    <div class="details">
      <div class="temperature">
        {{ weather.temperature }}
        <i class="wi wi-celsius" style="font-size: 40px;"></i>
      </div>
      <div class="right">
        <div id="date">
          {{ weather.date }}
        </div>
        <div id="description">
          {{ weather.description }}
        </div>
      </div>
    </div>
    <div id="city">
      <p>
        {{ weather.city }}
        <a [routerLink]="['/weatherForecast/details', weather.city]">more Details</a>
      </p>
    </div>
  </div>
</div>
