<nav class="navbar navbar-dark bg-inverse navbar-static-top">
  <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation"></button>
  <div class="navbar-toggleable-md collapse" id="navbarResponsive">
    <!--<div class="container">-->
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="http://placehold.it/30x30" width="30" height="30"
           class="d-inline-block align-top" alt="">
      Arcticon.de
    </a>

    <ul class="nav navbar-nav float-lg-right">
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Tools-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
          <!--<a class="dropdown-item" [routerLink]="['/weatherForecast']">Weather Forecast</a>-->
          <!--<a class="dropdown-item" [routerLink]="['/todos']">Todos</a>-->
        <!--</div>-->
      <!--</li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/apartmentInfo']">Apartment</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/weatherForecast']">Weather Forecast</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/todos']">Todos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/test']">Test</a>
      </li>
    </ul>
    <!--</div>-->
  </div>
</nav>
